<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item px-5 bg-info text-center">
            <a class="nav-link active text-white" aria-current="page" routerLink="/demo">الأيام</a>
          </li>
          <li class="nav-item px-5 bg-warning text-center ">
            <a class="nav-link active text-white" aria-current="page" routerLink="/warehouse">المخزن</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

  <div class="mb-5 pb-5">
    <router-outlet></router-outlet>
  </div>


<div class="fixed-bottom bg-danger d-flex justify-content-center align-items-center">
    <p class="text-white pt-2 me-3"> MADE BY ABDELRAHMAN ELKADY</p>
    <div class="pb-2">
       <a href="https://www.facebook.com/abdoelkadythejudge/" target="_blank">facebook</a> 
    </div>
    </div>